/**
* Color codes
*/

$color_placeholder: #f6f7f8;

/* Colors (naming based from Figma) */

$color_text_primary           : #222222;
$color_white                  : #FFFFFF;
$color_blue                   : #2E77D0;
$color_light                  : #EDEDED;
$color_light_low              : #F4F4F4;
$color_light_blue             : #E1EAFF;
$color_black                  : #393E48;
$color_light_black            : #65676B;
$color_grey                   : #E4E6EB;
$color_light_grey             : #F0F2F5;
$color_red                    : #E22134;
$color_green                  : #20BC62;
$color_yellow                 : #FDB941;
$color_light_yellow           : #FFEED0;
$color_border                 : #DDDDDD;
$color_dark_tosca             : #264D59;
$color_placeholder            : #BBBBBB;
$color_elements_line_darker   : #E5E7EF;