@import '../utils/_variables.scss';
@import '../components/Buttons.module.scss';

.productDetailParentDiv
{
  margin-top: 16px;
}

.row
{
  @extend .grid;
  @include grid-(2);
  grid-template-rows: auto fit-content;
  @include gap-x-(24px);
  margin-bottom: 42px;
}

.imageRow
{
  position: relative;

  ul
  {
    display: none;
  }
}

.mainImage
{
  @include fixedWidth(100%);
}

.accordion
{
  // TODO: akan dikerjakan
}

.propertyRow
{
  @include flex(column, flex-start, flex-start);
  @include row-span-(2);
  margin-top: -12px;

  & > div:first-child 
  {
    order: 1;
  }

  [class*="price"],
  & > p,
  {
    order: 2;
  }

  [class*="description"]
  {
    order: 3;
  }

  [class*="propertyInnerContainer"]
  {
    order: 4;
  }

  [class*="propertyFooterContainer"]
  {
    order: 5;
  }

  [class*="estimateShippingWrapper"]
  {
    // TODO: estimate
    order: 6;
    display: none;
  }
  
  [class*="additionalInfo"]
  {
    // TODO: additional
    order: 7;
    display: none;
  }
  
  [class*="customDetail"]
  {
    // TODO: review rating
    display: none;
    order: 8;
  }
}

.propertyInnerContainer
{
  margin-top: 24px;
  width: 100%;
}

.addToCartBtn
{
  width: 100%
}

.buyNowBtn
{
  width: 100%
}

.propertyFooterContainer
{
  @extend .grid;
  @include grid-(2);
  @include gap-x-(12px);
  width: 100%;
  margin: 16px 0 24px;

  & > button
  {
    @extend .btn;
    @include fixedWidth(100%);
    @include fixedHeight(48px);
    @extend .btn_secondary;
    @include RegulerReguler;

    &:last-child
    {
      @extend .btn_primary;
    }
  }
}

.detailTitleContainer
{
  // TODO: akan dikerjakan
}

.detailTitle
{
  display: none;
}

.detailTitleStar
{
  // TODO: akan dikerjakan
}

.detailTitleStarNumber
{
  @include ExtraSmallReguler;
  color: $color_text;
  margin-left: 6px;
}

.variantContainer
{
  @include flex(column, flex-start, center);
}

.variantOptionsContainer
{
  position: relative;
  padding-top: 20px;
  
  &:first-child
  {
    order: 2;
  }
  
  &:last-child
  {
    order: 1;
    margin-bottom: 24px;
  }
}

.variantOptions
{
  @include flex(row, center, flex-start, wrap);

  span
  {
    width: fit-content;
  }
}

.variantLabel
{
  @include SmallSemiBold;
  @include position(absolute, 0);
  margin-bottom: 8px;
}

.variantInput
{
  display: none;

  &:checked
  {
    & ~ label
    {
      background-color: $color_black;
      color: $color_white;
    }
  }

  ~ label
  {
    @include flex(row);
    @include transition;
    @include fixedHeight(40px);
    @include SmallSmall;
    border-radius: 2px;
    margin: 0 8px 8px 0;
    border: 1px solid $color_elements_line_darker;
    padding: 6px 12px;
    cursor: pointer;

    &:hover
    {
      background-color: $color_black;
      color: $color_white;
    }
  }
}

.qtyBox
{
  @include flex(row, center, space-between);
  @include fixedWidth(109px);
  @include fixedHeight(46px);
  position: relative;
  margin: 0 0 24px;
  padding: 0 15px;
  border: solid 1px $color_elements_line_darker;
  border-radius: 2px;

  input
  {
    flex-grow: 1;
    height: 100%;
    -moz-appearance:textfield;
    border: none;
    outline: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button 
    {
        -webkit-appearance: none;
    } 
  }

  span
  {
    cursor: pointer;
  }

  input,
  span
  {
      @include transition();
      @include flex(row, center, center);
      @include RegulerReguler;
      position: relative;
      margin: 0;
      padding: 0;
      border: none;
      background-color: $color_white;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      color: $color_black;

      &:hover,
      &:focus
      {
        opacity: .7;
      }
  }

}

.qtyLabel
{
  @include SmallSemiBold;
  margin-bottom: 8px;
}

.qtyWrapper
{
  @include col-span-(2);
}

.description
{
  @include RegulerReguler;
  color: $color_text_secondary;

  [class*="accordion"]
  {
    display: none;
  }
}

.additionalInfo
{
  // TODO: akan dikerjakan
}

.salePrice
{
  @include RegulerSemiBold;
  display: inline-block;
  color: $color_light_black;
  text-decoration: line-through;
  margin: 12px 0 24px;
  
}

.price
{
  @include LargeSemiBold;
  margin: 12px 0 24px;

  &:not(:only-of-type)
  {
    color: $color_red;
  }
}

.tab
{
  // TODO: akan dikerjakan
}

.lightboxPopup
{
  // TODO: akan dikerjakan
}

.lightboxContent
{
  // TODO: akan dikerjakan
}

.closeButton
{
  // TODO: akan dikerjakan
}

.dot
{
    // TODO: akan dikerjakan
}

.arrow
{
  @include position(absolute, 47%, 50%);
  transform: translate(50%,-50%);
  cursor: pointer;

  &:hover
  {
    opacity: .5;
  }

  &:first-child
  {
    left: calc(-50% + 20px);
  }

  &:nth-child(3)
  {
    right: 20px;
  }
}


// skeleton
.placeholderContainer
{
  @extend .grid;
  @include grid-(2);
  @include gap-x-(24px);
  @include gap-y-(24px);
  margin-bottom: 42px;
}

.placeholderList
{
  height: 20px;
  width: 100%;

  &:nth-child(3)
  {
    width: 60%;
  }

  &:nth-child(4)
  {
    width: 0%;
  }

  &:nth-child(5)
  {
    width: 30%;
  }

  &:nth-child(7)
  {
    width: 70%;
  }
  
  &:last-child
  {
    width: 80%;
  }
}

.placeholderImage
{
  @include row-span-(9);
  height: 425px;
  width: 100%;
}



@media screen and (max-width: #{$breakpoint_max_md}) 
{
  .row
  {
    @include grid-(1);
    @include grid-y-(1);
  }

  .addToCartBtn,
  .buyNowBtn
  {
    @include col-span-(2);
  }

  .imageRow
  {
    margin-bottom: 24px;
  }

  .buyNowBtn
  {
    margin-top: 12px !important;
  }

}

// TODO: REFACTOR TO ESTIMATE STYLE
.estimateShippingLogoImg
{
  @include fixedWidth(34px);
  @include fixedHeight(24px);
}


