@import "../utils/_variables.scss";

.announcements {
    @include flex(row, center, flex-start);
    @include position(fixed, 24px, 55px);

    background-color: $color_text_primary;
    z-index: 2;
    width: fit-content;
    max-width: 300px;
    padding: 0 0px 0 8px;
    border-radius: 50px;
    min-height: 40px;
    min-width: 277px;
    
    &:before
    {
        content: "";
        display: block;
        margin-top: 8px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='white' fill-opacity='0.23'/%3E%3Cpath d='M17.8332 16.6667H6.1665V15.5H6.74984V11.4347C6.74984 8.52507 9.10067 6.16666 11.9998 6.16666C14.899 6.16666 17.2498 8.52507 17.2498 11.4347V15.5H17.8332V16.6667ZM10.5415 17.25H13.4582C13.4582 17.6368 13.3045 18.0077 13.031 18.2812C12.7575 18.5547 12.3866 18.7083 11.9998 18.7083C11.6131 18.7083 11.2421 18.5547 10.9686 18.2812C10.6951 18.0077 10.5415 17.6368 10.5415 17.25Z' fill='white'/%3E%3C/svg%3E%0A");        background-repeat: no-repeat;
        width: 32px;
        height: 35px;
        background-repeat: no-repeat;
    }


    &_item
    {
        @include typography_builder(400, 12, 16);
        color: white;
        text-align: left;
        max-width: 181px;
    }

    &_closeIcon
    {
        @include position(absolute, auto, 23px);
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.99999 4.05732L8.29999 0.757324L9.24266 1.69999L5.94266 4.99999L9.24266 8.29999L8.29999 9.24266L4.99999 5.94266L1.69999 9.24266L0.757324 8.29999L4.05732 4.99999L0.757324 1.69999L1.69999 0.757324L4.99999 4.05732Z' fill='white'/%3E%3C/svg%3E%0A");        width: 9px;
        height: 9px;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    @media (max-width: #{$breakpoint_min_sm}) 
    {
        @include position(fixed, 94px, 17px);
    }
    
}