@import '../utils/_variables.scss';
@import './Placeholder.module.scss';

.section
{
  border: 1px solid rgba(254, 238, 222, 1);
  padding: 16px 10px 0 16px;
  border-radius: 4px;
  margin-top: 30px;

  h2
  {
    @include typography_builder(500, 14, 21);
    margin-bottom: 15px;
  }
}

.container
{
  overflow-y: auto;
  max-height: 300px;
  @extend .scrollbar_main;
}

.cartHeader
{
  display: none;
}

.item
{
  display: grid;
  grid-template-columns: 100px auto;
  column-gap: 16px;

  &:not(:last-child)
  {
    margin-bottom: 12px;
  }
}

.itemImage
{
  width: 100px;
  grid-row:  1 / span 4;

  img
  {
    width: 100%;
  }
}

.itemTitle
{
  @include truncate(2);
  cursor: pointer;

  &:hover
  {
    opacity: .7;
  }
}

.title
{
  @include typography_builder(500, 16, 24);
}

.selectedVariant
{
  @include typography_builder(500, 12, 12);
  border-radius: 2px;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 18px;
  padding: 0 6px;
  background-color: $color_text_secondary;
  color: $color_white;
  margin-bottom: 8px;
}

.itemRegularPrice
{
  @include typography_builder(400, 14, 12);

  &:not(:only-of-type)
  {
    @include typography_builder(400, 12, 12);
    text-decoration: line-through;
    color: $color_grey;
  }
}

.itemSalePrice
{
  @include typography_builder(400, 14, 12);
}

.qtyBox
{
  @include typography_builder(400, 14, 12);
  display: flex;
  align-items: center;

  input
  {
    width: 100%;
    border: none;
    outline: none;

    -moz-appearance:textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button 
    {
        -webkit-appearance: none;
    }
  }

  &[class$="id"]::before
  {
    content: "Jumlah:";
  }

  &[class$="en"]::before
  {
    content: "Qty:";
  }
}

.itemRegularAmount
{
  @include typography_builder(500, 16, 12);
}

.placeholderContainer
{
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 20px auto;
  column-gap: 16px;
  row-gap: 8px;
  margin-bottom: 8px;
}

.placeholderList
{
  @extend .placeholderItem;
  height: 20px;
  width: 100%;

  &:nth-child(3)
  {
    width: 60%;
  }
  
  &:last-child
  {
    width: 80%;
  }
}

.placeholderImage
{
  @extend .placeholderItem;
  grid-row:  1 / span 3;
  height: 125px;
  width: 100%;
}