@import "../utils/_grid.scss";
@import "../utils/_variables.scss";


.SecondAdvertisement
{
    margin: 0 42px;

    &_container
    {
        @extend .grid;
        @include grid-(1);
        @include gap-y-(24px);
        width: 100%;
    }

    &_item
    {
        &:hover
        {
            opacity: .5;
            cursor: pointer;
        }

        img
        {
            width: 100%;
            height: auto;
        }
    }

    &_placeholder
    {
        height: 300px;
    }

    @media (max-width: #{$breakpoint_min_sm}) 
    {
        margin: 0 16px;

        &_container
        {
            @include grid-(1);
            @include gap-y-(24px);
        }
    }
}